@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Anton&family=Baloo+Bhaijaan+2:wght@400..800&family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fredoka:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--color-background: #f5f5ef;
	--color-light-gray: #d1d1c7;
	--color-accent-light: #e5edc9;
	--color-accent: #54763d;
	--color-dark: #10100a;

	--color-substitution-model: #e5edc9;
	--color-clock-model: #f2f279;
	--color-tree-prior: #b7ebf7;
	--color-tree-likelihood: #fad2d2;
}

@theme {
	--font-display: 'Noto Sans', 'sans-serif';
}

/* Table styles */

th strong {
	font-weight: 600 !important;
	color: var(--color-accent);
}

th {
	border-bottom: 1px solid var(--color-accent-light) !important;
}

td {
	border-right: none !important;
	border-bottom: 1px solid var(--color-background) !important;
}

/* Trees (phylotree) */

.tree-selection-brush .extent {
	fill-opacity: 0.05;
	stroke: #fff;
	shape-rendering: crispEdges;
}

.tree-scale-bar text {
	font: 'Noto Sans', sans-serif;
}

.tree-scale-bar line,
.tree-scale-bar path {
	fill: none;
	stroke: var(--color-background);
	shape-rendering: crispEdges;
}

.node circle,
.node ellipse,
.node rect {
	fill: var(--color-accent-light);
	stroke: var(--color-accent);
	stroke-width: 0.5px;
}

.internal-node circle,
.internal-node ellipse,
.internal-node rect {
	fill: var(--color-accent-light);
	stroke: var(--color-accent);
	stroke-width: 0.5px;
}

.node {
	font: 10px;
}

.node-selected {
	fill: #f00 !important;
}

.node-collapsed circle,
.node-collapsed ellipse,
.node-collapsed rect {
	fill: black !important;
}

.node-tagged {
	fill: #00f;
}

.branch {
	fill: none;
	stroke: var(--color-accent);
	stroke-width: 2px;
}

.clade {
	fill: lightgrey;
	stroke: #222;
	stroke-width: 2px;
	opacity: 0.5;
}

.branch-selected {
	stroke: #f00 !important;
	stroke-width: 3px;
}

.branch-tagged {
	stroke: #00f;
	stroke-dasharray: 10, 5;
	stroke-width: 2px;
}

.branch-tracer {
	stroke: #bbb;
	stroke-dasharray: 3, 4;
	stroke-width: 1px;
}

.branch-multiple {
	stroke-dasharray: 5, 5, 1, 5;
	stroke-width: 3px;
}

.branch:hover {
	stroke-width: 10px;
}

.internal-node circle:hover,
.internal-node ellipse:hover,
.internal-node rect:hover {
	fill: black;
	stroke: #ccc;
}

.tree-widget {
}
